<div class="saldo-actual">
        Saldo Actual: $1,500.00
    </div>
<div class="container my-day">
  <div class="date-range"></div>
  <div class="summary">
    <div class="income">
      <h2>Ingresos</h2>
      <p class="amount">$35,670.00</p>
      <div class="bar">
        <div class="income-bar"></div>
      </div>
    </div>
    <div class="expenses">
      <h2>Gastos</h2>
      <p class="amount">$27,599.76</p>
      <div class="bar">
        <div class="expenses-bar"></div>
      </div>
      <div class="details">
        <div class="detail-item">
          <span>Débito</span>
          <span>$23,099.76</span>
        </div>
        <div class="detail-item">
          <span>Crédito</span>
          <span>$4,500.00</span>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="header">
      <h2>MIS GASTOS</h2>
      <a [routerLink]="['/nucleoicons']" class="view-more">Ver más</a>
    </div>
    <div class="chart">
      <canvas id="expensesChart" width="400" height="200"></canvas>
    </div>
  </div>

  <!-- Nuevo gráfico: Gastos Mensuales -->
  <div class="monthly-expenses-overview">
    <div class="header">
      <h2>Gastos Mensuales</h2>
    </div>
    <div class="chart">
      <canvas id="monthlyExpensesChart" width="400" height="200"></canvas>
    </div>
  </div>

  <!-- Nuevo gráfico: Gastos por Categoría -->
  <div class="category-expenses-overview">
    <div class="header">
      <h2>Gastos por Categoría</h2>
    </div>
    <div class="chart">
      <canvas id="categoryExpensesChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>
