<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">FinazApp</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Finanzas claras, futuro seguro.</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>

<!--Aqui termina own-->

    <div class="main">
      <div class="section javascript-components">
          <div class="container">
              <div class="tim-title">
                  <h2>Características principales</h2>
              </div>
              <div class="row" id="modals">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Guía de Inversiones</h3>
                      </div>
                      <p>Descubre las mejores estrategias de inversión para maximizar tus ganancias y asegurar tu futuro financiero.</p>
                      <!--app-modal-component></!--app-modal-component-->
                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Educación Financiera</h3>
                      </div>
                      <p>Enriquece tus conocimientos financieros con nuestros artículos y tutoriales fáciles de entender.</p>
                  </div>
                  <br/>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Seguimiento del tiempo y presupuesto</h3>
                      </div>
                      <p>Con nuestra aplicación, puedes realizar un seguimiento del tiempo dedicado a cada movimiento y mantener un registro de tu dinero. Esto ayuda a garantizar que tus gastos se mantengan dentro del plazo y el presupuesto establecidos.</p>
                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Herramientas de Presupuesto</h3>
                      </div>
                      <p>Controla tus gastos y administra tu dinero con nuestras prácticas herramientas de presupuesto.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h3>Carrusel</h3>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Trabajo en equipo efectivo</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Control total de tus proyectos</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Logra tus objetivos</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark section-nucleo-icons">
            <div class="container" id="contacto">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Nosotros</h2><br/>
                        <p class="description">
                            En FinazApp estamos comprometidos a ayudarte a alcanzar tus metas financieras. Nuestro equipo de expertos en finanzas, con años de experiencia en el sector, se dedica a proporcionar herramientas, recursos y asesoramiento personalizado para empoderarte en la toma de decisiones económicas informadas.
                        </p><br/>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Elige el Plan que Mejor se Adapte a Ti</h3>
                </div>
                <app-modal-component></app-modal-component>
                <div>
                    <br>
                    <br>
                </div>
            </div>
   
</div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Evaluación Financiera Personal</h2>
                        <p class="description">Nuestro Formulario de Evaluación Financiera Personal está diseñado para ayudarte a comprender y mejorar tu situación financiera actual. Al completar este formulario, recibirás un análisis detallado y recomendaciones personalizadas para manejar tus finanzas de manera más efectiva.</p>
                    </div>
                </div>
            </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Realizar Evaluación Financiera
                            </a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/ver-proyectop']" class="btn btn-outline-neutral btn-round">Ver Evaluaciones Anteriores
                            </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Contactanos</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Correo</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Correo" (focus)="focus1=true" (blur)="focus1=false" >
                                    </div>
                                </div>
                            </div>
                            <label>Escriba aquí:</label>
                            <textarea class="form-control" rows="4" placeholder="Escriba su mensaje"></textarea>

                            <button class="btn btn-danger btn-lg btn-fill">Enviar</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3>Nuestras redes sociales</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a href="https://twitter.com/Alan33718899" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!" target="_blank">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    
                    <a href="https://www.facebook.com/profile.php?id=61558963888729" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!" target="_blank">
                        <i class="fa fa-facebook-square"></i> Facebook
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>